section {
    margin: 0 auto;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
p{
    text-align: center;
    max-width: 350px;
    margin: 25px;
}
