
h1{
    background: linear-gradient(90deg, #FFEA07 20%, #4AE4FF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

button{
    width: 120px;
}