/* Live.module.css */
.controls{
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 2fr 2fr;
    grid-template-areas: 
    "header qrcode"
    "btns qrcode";
    gap: 15px;
}

.head{
    grid-area: header;
}
.btns{
    display: flex;
    align-items: end;
    grid-area: btns;
    gap: 12px;
    padding: 0;
    border-radius: 15px;
    /* background-color: rgba(255, 255, 255, 0.08); */
}
.qrcode{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-area: qrcode;

}
.qrcode .img{
    position: relative;
    border-radius: 15px;
    background-color: white;
    padding: 16px;
    /* padding: 12px; */
}
.qrcode img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 48px;
    height: 48px;
    /* padding: 4px; */
    background-color: white;
    border-radius: 50%;
}
.controls .livebubble{
    display: inline-block;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    margin-right: 12px;
    background-color: red;
}
.controls .livebubble.active{
    background-color: green;
}

.footer{
    margin-top: auto;
    padding: 10px 20%;
    width: 100%;
    /* max-width: ; */
    height: 200px;
    background-color: rgba(255, 255, 255, 0.08);
}
.viewers{
    display: flex;
    flex-direction: row;
    gap: 12px;
}
.viewer{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 8px;
}
.viewer .profile{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.08);
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 32px;
}
.viewer .livebubble{
    bottom: 24px;
    right: 8px;
    position: absolute;
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: red;
}
.viewer .livebubble.viewing{
    background-color: green;
}